{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>
  <body
    class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg pt-10 p-6 lg:overflow-visible">
    {% block content %} {% endblock content %}
  </body>
</html>
