{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lists des tâches</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline text-clifford">Hello world!</h1>
    <h3>Lists des tâches</h3>
    {% for task in tasks %}
    <p>
      {{ forloop.counter }}. {{ task.title }} - {{ task.description }} (<a
        href="{% url 'tasks:task_update' task.id %}"
        >Modifier</a
      >
      | <a href="{% url 'tasks:task_delete' task.id %}">Supprimer</a>)
    </p>
    {% endfor %}

    <p><a href="{% url 'tasks:task_create' %}">Nouvelle tâche</a></p>
  </body>
</html>
